@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
    --fonte-titulo: 'Kaushan Script';
    --fonte-texto: 'Crimson Text';
    --cor-principal: #0B1C4B;
    --cor-secundaria: #1DB9C3;
    --cor-destaque: #F5F5F5;
    --cor-texto: #FF6B35;
}